@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";
@source "../../content/**/*.md";
@import "./global.css" layer(utilities);

@theme {
  --font-family-inter: "Inter", sans-serif;
  --font-family-lora: "Lora", serif;
  --font-family-instrument: "Instrument Serif", serif;
  --font-family-roboto: "Roboto", sans-serif;
}
/* For Testing purposes */
.\? {
  outline: 1px solid red;
}
