@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";
/* @import "./global.css" layer(base); */

@source "../../content/**/*.md";

@theme {
  --font-family-inter: "Inter", sans-serif;
  --font-family-lora: "Lora", serif;
  --font-family-instrument: "Instrument Serif", serif;
  --font-family-roboto: "Roboto", sans-serif;

  --breakpoint-3xl: 1920px;
}
